.blackboard {
    border-width: 3px;
    border-style: dashed;
    border-color: #1f1d1b;
}

.orangeboard {
    border-width: 3px;
    border-style: dashed;
    border-color: #c77a2d;
}

#left_out {
    float: left;
    width: 350;
    height: 600;
}
#game {
    float: left;
}

#right_out {
    float: left;
    width: 350;
    height: 600;
}

#selectObjectDiv {
    overflow-y: scroll;
    overflow-x: scroll;
    /*float: left;
      width: 270;
      height: 300;*/
}

.number_keydownAnime_target {
    width: 4em;
  }