body {
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: flex-start;
    background-color: rgb(220, 220, 230);
    margin: 0px;
    font-family: sans-serif;
    line-height: 1.15;
}

button, input, select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#game {
    background-color: rgb(240, 240, 240);
}

.blackboard {
    border-width: 3px;
    border-style: dashed;
    border-color: #1f1d1b;
}

.orangeboard {
    border-width: 3px;
    border-style: dashed;
    border-color: #c77a2d;
}

#left_out {
    float: left;
    width: 350;
    height: 600;
}

#game {
    float: left;
}

#right_out {
    float: left;
    width: 350;
    height: 600;
}

#selectObjectDiv {
    overflow-y: scroll;
    overflow-x: scroll;
    /*float: left;
      width: 270;
      height: 300;*/
}

.number_keydownAnime_target {
    width: 4em;
}

.LeftImgListDiv {
    height: 200;
    overflow: hidden;
    overflow-y: scroll;

}